@{
    ViewData["Title"] = "Index";
}
@model BlogViewModel

<!-- Bread crumb -->
<div class="breadCrumb p-3 bg-light">
    <p class="container mb-0 px-5">
        <a asp-action="Index" asp-controller="home">Home</a>/<a href="#">Blogs</a>
    </p>
</div>

<main>
    <section id="All-Blogs_Section" class="py-5 ">
        <div class="sectionTitle">
            <h2 class="h1 position-relative text-center  text-dark title_underlined mb-5">
                Blogs of our doctors
            </h2>
        </div>
        <div class="container ">

            <div class="row">


                <div class="blogs col-lg-9 px-md-3">

                    @foreach (Blog blog in Model.Blogs)
                    {

                     <!-- blog -->
                    <div class="blogs_item mb-5 border-gray p-3">
                        <div class="blogs_item_body_header row flex-nowrap ps-lg-4">
                            <div class="post-date  col-2 d-flex flex-column align-items-center justify-content-center">
                                <span class="fs-3 day">@blog.CreatedAt.Day</span>
                                    <span class="text-base">@blog.CreatedAt.ToString("MMM")</span>
                            </div>
                            <div class="post-title col-9">
                                <h2 class="h4">
                                    <a asp-action="details" asp-controller="blog" asp-route-id="@blog.Id" class="text-decoration-none link-base text-wrap+">
                                       @blog.Title
                                        </a>
                                </h2>
                                <p class="my-2">
                                    by
                                    <a asp-action="details" asp-controller="doctor" asp-route-id="@blog?.Doctor?.Id" class="text-decoration-none link-hover-base">@blog?.Doctor?.Fullname</a>

                                    <a href="@blog?.Doctor?.Facebook" class="text-decoration-none link-base">
                                        <i class="mx-2 fa-brands fa-facebook-f"></i>
                                    </a>
                                    <a href="@blog?.Doctor?.Twitter" class="text-decoration-none link-base">
                                        <i class="mx-2 fa-brands fa-twitter"></i>
                                    </a>
                                    <a href="@blog?.Doctor?.Instagram" class="text-decoration-none link-base">
                                        <i class="mx-2 fa-brands fa-instagram"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="blogs_item_photo w-100 my-4">
                                <a asp-action="details" asp-controller="blog" asp-route-id="@blog.Id" class="d-block overflow-hidden d-flex align-items-center justify-content-center w-100">
                                    <img src="/Assets/Uploads/Blogs/@blog.ImageUrl" alt="@blog.ImageUrl" class="d-block" />
                            </a>
                        </div>
                        <div class="blogs_item_body  p-4">
                            <p class="blogs_item_body_preview mt-4">
                               @blog.PrevText […]
                            </p>
                                <a asp-action="details" asp-controller="blog" asp-route-id="@blog.Id" class="rounded-pill read-more-btn m-0 mt-4">Read More</a>
                        </div>
                    </div>
                    }
                  

                    <!-- end -->
                </div>

                <div class="col-lg-3  bg-light h-min py-3 px-4 ">
                    <div>
                        <p class="h3">Categories</p>
                        <ul class=" mt-3">
                            @foreach (var category in Model.BlogCategories)
                            {
                                <!-- Cateogry -->
                                <li class="mt-2">
                                    <a asp-action="index" asp-controller="blog" asp-route-BlogCategoryId="@category.Id" class="text-decoration-none   @(ViewBag.BlogCategoryId == category.Id? "link-hover-base":"link-base") "><i class="fa-solid fa-check text-base mx-1"></i> @category.Name</a>
                                </li>
                            }
                            <!-- End -->
                        </ul>
                    </div>
                    <hr>
                    <div class=" mt-4">
                        <p class="h4">Recent Posts</p>

                        <ul class="recent-blogs container-fluid">
                            @foreach (var recentBlog in Model.RecentBlogs)
                            {
                                <!-- recent Blog -->
                                <li class="recent-blogs_item my-2 row  p-1">
                                    <div class="recent-blogs_item_photo col-2 p-0 ">
                                        <a asp-action="details" asp-controller="blog" asp-route-id="@recentBlog.Id" class="w-100 h-100 d-block d-flex align-items-center justify-content-center">
                                            <img src="/Assets/Uploads/Blogs/@recentBlog.ImageUrl" alt="@recentBlog.ImageUrl">
                                            </a>
                                    </div>
                                    <div class="recent-blogs_item_info col-10 ">
                                        <h6>
                                            <a asp-action="details" asp-controller="blog" asp-route-id="@recentBlog.Id" class="text-decoration-none link-base">
                                                @recentBlog.Title
                                            </a>
                                        </h6>
                                        <p class="m-0 post-small-info">
                                            <i class=" me-2 me-2 fas fa-clock text-base"></i>
                                            <span class="post-date">@recentBlog.CreatedAt.ToString("dd MMM yyyy")</span>
                                        </p>
                                    </div>
                                </li>
                            }
                        
                            <!-- End -->

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>

