

@model List<DoctorAppointment>



<div class="tab-pane bg-light p-2 tab-content-appointment fade "
     id="tab-appointment"
     role="tabpanel"
     aria-labelledby="appointment-tab"
     tabindex="0">
    <div class="appointments-container container scrollable">

        @foreach (var appointment in Model)
        {
            <!-- Item -->
            <div class=" d-flex align-items-center justify-content-between border-gray p-3 my-2">
                <div class="">
                    <h2 class="h5"><a asp-action="details" asp-controller="doctor" asp-route-id="@appointment.Doctor.Id" class="text-decoration-none link-base fw-bold">Doctor: @appointment.Doctor.Fullname</a></h2>
                    <p class="appointment-date"><span class="fw-semibold">Date : </span> <span> @appointment.MeetingDate.ToString("dddd, dd MMMM yyyy HH:MM")</span></p>
                    <p><span class="fw-semibold"> Status:</span> <span class="badge @(appointment.IsApproved==true?"bg-success":appointment.IsApproved==false?"bg-danger":"bg-warning")">
                        
                        @(appointment.IsApproved == true ? "Approved" : appointment.IsApproved == false ? "Rejected" : "Pending")
                        
                    </span></p>
                </div>
                <div class=" ">

                    @if (appointment.IsApproved == true && (appointment.MeetingDate - DateTime.UtcNow.AddHours(4)).TotalMinutes < 60){
                        <button class="call-btn d-flex align-items-center">
                        <i class="fa-solid fa-video mx-2"></i>
                        <span class="d-none d-sm-inline"> Call</span>
                         </button>
                    }
                    else if (appointment.IsApproved == null || appointment.IsApproved == true && (appointment.MeetingDate - DateTime.UtcNow.AddHours(4)).TotalMinutes > 60)
                    {
                        <button class="cancel-btn d-flex align-items-center">
                            <i class="fa-solid fa-xmark mx-2"></i>
                            <span class="d-none d-sm-inline">Cancel</span>

                        </button>
                    }
                

                </div>
            </div>

        }

    </div>
</div>
