
@{
    ViewData["Title"] = "Index";
}

@model BasketViewModel

<!-- Bread crumb -->
<div class="breadCrumb p-3 bg-light">
    <p class="container mb-0 px-5">
        <a asp-action="index"  asp-controller="home">Home</a>/<a href="#">Cart</a>
    </p>
</div>

<main>
    <section id="Cart_Section" class="py-5 ">
        <div class="sectionTitle">
            <h2 class="h1 position-relative text-center text-dark title_underlined mb-5">
                Checkout Your Cart
            </h2>
        </div>
        <div class="container">
            <div class="row">
                <div class=" col-lg-8 p-lg-4 p-md-3 p-2 ">
                    <div class="cart-product scrollable pe-3 container">
                        @foreach (var item in Model.BasketItems)
                        {
                            <!-- Item -->
                        <div class="cart-product_item my-3  p-4 row position-relative bg-light">
                            <div class="cart-product_item_photo d-flex align-items-center justify-content-center mb-3 mb-md-0 col-sm-3 p-0">
                                <img  src="~/Assets/Uploads/Products/@item.Product.ProductImages.FirstOrDefault(x=> x.IsMain).ImageUrl" alt="@item.Product.Name" class="">
                            </div>
                            <div class="cart-product_item_info col-sm-9 ">
                                <a asp-action="RemoveFromBasket" asp-controller="Basket" asp-route-id="@item.Product.Id" class="fa-solid fa-x position-absolute text-decoration-none pointer x-btn reload link-base remove-btn"></a>
                                <h3 class="cart-product-title fw-semibold h5">
                                    <a asp-action="details" asp-controller="product" asp-route-id="@item.Product.Id" class="link-base text-decoration-none">
                                        @item.Product.Name
                                    </a>
                                </h3>
                                @if(item.Product.DiscoutPercent >0){
                                <p class="text-decoration-line-through m-0">$@item.Product.SalePrice</p>
                                }
                                    <p class="my-1 cart-product-price text-base">
                                        $@((item.Product.SalePrice * (100 - item.Product.DiscoutPercent) / 100).ToString("0.00"))</p>

                                <div class="cart-product_counter rounded-pill mt-4">
                                        <a asp-action="addtobasket" asp-controller="basket" asp-route-id="@item.Product.Id" asp-route-count="-1" class="decrement decrement-cart counter-btn m-0 text-decoration-none pointer btn link-hover">-</a>
                                    <input type="number" readonly value="@item.Count" class="add-count text-end" />
                                        <a asp-action="addtobasket" asp-controller="basket" asp-route-id="@item.Product.Id" asp-route-count="1" class="increment increment-cart counter-btn m-0 text-decoration-none pointer btn link-hover">+</a>
                                </div>
                            </div>

                        </div>

                        }


                        <!-- end -->
                    </div>
                </div>


                <div class="col-lg-4 p-lg-4 p-md-3 p-2">
                    <div class=" bg-light p-4 rounded-4">

                        <p class="h4">Total</p>
                        <hr>

                        <table class="w-100">
                            <tbody>
                                <tr>
                                    <td>Sub-total</td>
                                    <td class="text-end sub-total">$@Model.SubTotal</td>
                                </tr>
                                <tr>
                                    <td>Discounted</td>
                                    <td class="text-end discounted">$@(Model.SubTotal  - Model.Total)</td>
                                </tr>
                               
                                <tr>
                                    <td>Total</td>
                                    <td class="text-end total">$@Model.Total</td>
                                </tr>
                            </tbody>
                        </table>

                        <a asp-action="Order" asp-controller="basket"  class="rounded-3 my-custom-btn m-0 my-4 w-100 ">Order</a>

                        <div class="mt-3">
                            <p>WE ACCEPT:</p>
                            <img  src="~/Assets/Images/payment-methods.png" alt="" class="w-100">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>


@section Scripts{


    <!-- ========================= Custom =============================== -->

    <script  src="~/Assets/Js/cart.js"></script>
}

