@{
    ViewData["Title"] = "Details";
}

@model DoctorDetailsViewModel

@section Styles{
    <link rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />


}



    <!-- Bread crumb -->
    <div class="breadCrumb p-3 bg-light">
        <p class="container mb-0 px-5">
            <a asp-action="index" asp-controller="home">Home</a>/<a asp-action="index" asp-controller="doctor">Doctors</a>/<a href="#">@Model.Doctor.Fullname</a>
        </p>
    </div>

    <main>
        <!--  Doctor details -->
        <section id="Doctor-Details_Section" class="py-5 ">
            <div class="container px-lg-5">
                <div class="doctorDetails row">
                    <div class="doctorDetails_photo col-sm ">
                        <div class="doctorDetails_photo_image">
                            <img src="~/Assets/Uploads/Doctors/@Model.Doctor.ImageUrl"
                             alt="@Model.Doctor.ImageUrl"
                             class="w-100" />
                        </div>
                        <table class="doctorDetails_photo_info mt-5 ">
                            <tbody>
                                <tr>
                                    <td class="py-3">Position</td>
                                    <td class="py-3">@Model.Doctor.Positon</td>
                                </tr>
                                <tr>
                                    <td class="py-3">Office</td>
                                    <td class="py-3">@Model.Doctor.Office</td>
                                </tr>
                                <tr>
                                    <td class="py-3">Meeting Price</td>
                                    <td class="py-3"> $@Model.Doctor.MeetingPrice / 10 min </td>
                                </tr>
                                <tr class="py-1">
                                    <td class="py-3">Gender</td>
                                    <td class="py-3">@((Model.Doctor.Gender) ? "Male" : "Felmale")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="doctorDetails_info col-lg-8 col-md-9  mt-4 mt-md-0">
                    <div class="doctorDetails_info_name row align-items-baseline justify-content-between">
                        <div class="col-8 col-md-6">

                            <h1 class="h2">@Model.Doctor.Fullname</h1>
                            <h3 class="h6 text-base">@Model.Doctor.Positon</h3>
                        </div>
                        <div class="col-4 col-lg-5 d-flex flex-column justify-content-end align-items-center">
                            @if (!User.IsInRole("Doctor"))
                            {
                                <button data-bs-toggle="modal"
                                    data-bs-target="#setAppointment"
                                    class="my-custom-btn py-2 px-2 w-100">
                                    <i class="fa-solid fa-video me-2"></i>
                                    <span class="d-none d-md-inline"> Set Meeting</span>
                                </button>
                            }

                            <div class="links text-nowrap ">
                                <a href="@Model.Doctor.Facebook" class="fs-5 mx-2 link-hover-base">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="@Model.Doctor.Instagram" class="fs-5 mx-2 link-hover-base">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="doctorDetails_info_desc mt-4">
                        <p>
                            @Html.Raw(Model.Doctor.DetailedDesc)
                        </p>
                    </div>
                    <div class="doctorDetails_info_blogs mt-4 ">
                        <h3 class="text-base my-3">Latest Blogs</h3>
                        <ul class="">

                            @foreach (var blog in Model.Blogs)
                            {
                                <!-- blog -->
                                <li class="blogs_item my-2 row">
                                    <div class="blogs_item_photo">
                                        <img src="~/Assets/Uploads/Blogs/@blog.ImageUrl" alt="@blog.ImageUrl" />
                                    </div>
                                    <div class="blogs_item col pe-5">
                                        <span class="blogs_item_info_date">@blog.CreatedAt.ToString("dd MMM yyyy")</span>
                                        <p class="blogs_item_info_title">
                                            <a asp-action="details" asp-controller="blog" asp-route-id="@blog.Id" class="text-decoration-none">
                                                @blog.Title
                                            </a>
                                        </p>
                                    </div>
                                </li>
                            }


                            <!-- END -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Other Doctors -->


    <section id="Doctors_Section" class="py-5">
        <span class="sectionName text-center d-block mb-4">Perfect Team</span>
        <div class="sectionTitle">
            <h2 class="h1 position-relative text-center double-title text-dark title_underlined"
                data-title="Specialists">
                Our Specialists
            </h2>
        </div>

        <div class="doctors mt-5">
            <div class="container">
                <div class="doctorSlider d-flex mx-5">

                    @if (Model.Doctors.Count < 3)
                    {

                        @foreach (var doctor in Model.Doctors)
                        {
                            <!-- slide -->
                            <div class="doctor_box mx-3">
                                <div class="doctor_box_photo position-relative">
                                    <a asp-action="details" asp-controller="doctor" asp-route-id="@doctor.Id" class="d-block w-100 h-100">
                                        <img src="~/Assets/Uploads/Doctors/@doctor.ImageUrl" alt="@doctor.ImageUrl" />
                                    </a>
                                    <div class="doctor_box_photo_links bg-light position-absolute">
                                        <div class="p-2 text-center">
                                            <a href="@doctor.Facebook" class="text-decoration-none text-base">
                                                <i class="fa-brands fa-facebook-f"></i>
                                            </a>
                                        </div>
                                        <div class="p-2 text-center">
                                            <a href="@doctor.Instagram" class="text-decoration-none text-base">
                                                <i class="fa-brands fa-instagram"></i>
                                            </a>
                                        </div>
                                        <div class="p-2 text-center">
                                            <a href="@doctor.Twitter" class="text-decoration-none text-base">
                                                <i class="fa-brands fa-twitter"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="doctor_box_footer">
                                    <h5 class="doctor_box_footer_name text-center my-3">
                                        <a asp-action="details" asp-controller="doctor" asp-route-id="@doctor.Id">@doctor.Fullname</a>
                                    </h5>
                                    <div class="doctor_box_footer_position text-center">
                                        @doctor.Positon
                                    </div>
                                </div>
                            </div>

                        }
                    }
                    @foreach (var doctor in Model.Doctors)
                    {
                        <!-- slide -->
                        <div class="doctor_box mx-3">
                            <div class="doctor_box_photo position-relative">
                                <a asp-action="details" asp-controller="doctor" asp-route-id="@doctor.Id" class="d-block w-100 h-100">
                                    <img src="~/Assets/Uploads/Doctors/@doctor.ImageUrl" alt="@doctor.ImageUrl" />
                                </a>
                                <div class="doctor_box_photo_links bg-light position-absolute">
                                    <div class="p-2 text-center">
                                        <a href="@doctor.Facebook" class="text-decoration-none text-base">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </a>
                                    </div>
                                    <div class="p-2 text-center">
                                        <a href="@doctor.Instagram" class="text-decoration-none text-base">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                    </div>
                                    <div class="p-2 text-center">
                                        <a href="@doctor.Twitter" class="text-decoration-none text-base">
                                            <i class="fa-brands fa-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="doctor_box_footer">
                                <h5 class="doctor_box_footer_name text-center my-3">
                                    <a asp-action="details" asp-controller="doctor" asp-route-id="@doctor.Id">@doctor.Fullname</a>
                                </h5>
                                <div class="doctor_box_footer_position text-center">
                                    @doctor.Positon
                                </div>
                            </div>
                        </div>

                    }

                    <!-- END -->
                </div>
            </div>
        </div>
    </section>

    @if (!User.IsInRole("Doctor"))
    {
        @await Html.PartialAsync("_SetAppointmentPartial", Model.SetAppointmentVm);

    }
</main>


@section Scripts{
    <!-- ========================= CDNs =============================== -->
    <!-- Slick Slide -->
    <script type="text/javascript"
        src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- Bootstrap -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js.map"></script>


    <!-- ========================= Custom =============================== -->
    <!-- Slick Settings -->
    <script type="module" src="~/Assets/Js/slider.js"></script>
    <!-- Calendar Setting -->
    <script src="~/Assets/Js/GetDoctorTimeInterval.js"></script>
}