
@model DoctorsViewModel






@section Styles{
    <!-- Slick slider -->
    <link rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

}




<!-- Bread crumb -->
<div class="breadCrumb p-3 bg-light">
    <p class="container mb-0 px-5">
        <a asp-action="index" asp-controller="home">Home</a>/<a asp-action="index" asp-controller="doctor">Doctors</a>
    </p>
</div>

<main>
    <section id="AllDoctors_Section" class="py-5">
        <span class="sectionName text-center d-block">Meet the Team</span>
        <div class="sectionTitle">
            <h2 class="h1 position-relative text-center text-dark title_underlined"
                data-title="Services">
                Our Specialists
            </h2>
        </div>

        <div class="container px-lg-5  mt-5">
            <!-- Departments -->

            <div class="departments departmentsSlider py-4">

                    <!-- Department -->
                    <div class="departments_item rounded-pill text-nowrap mx-2 btn">
                        <a class="link-base text-decoration-none" asp-action="index" asp-controller="doctor" >All</a>
                    </div>

                 @foreach (var department in Model.Deparments)
                {
                 <!-- Department -->
                    <div class="departments_item rounded-pill text-nowrap mx-2 btn"
                     >
                       <a class="link-base text-decoration-none" asp-action="index" asp-controller="doctor" asp-route-departmentId="@department.Id">@department.Name</a>
                    </div>
                }
                
             
            </div>



            <!-- Doctors -->
            <div class="all-doctors  row">
                @foreach (var doctor in Model.Doctors)
                {
                    <!-- card -->
                    <div class="all-doctors_card col-lg-4 col-md-6 mt-5 Endodontics bg-light">
                        <div class="all-doctors_card_photo">
                            <a asp-action="details" asp-controller="doctor" class="d-block w-100">
                                <img src="~/Assets/Uploads/Doctors/@doctor.ImageUrl"
                                 alt=""
                                 class="w-100" />
                            </a>
                        </div>
                        <div class="p-4">
                            <div class="all-doctors_card_name mb-4">
                                <a asp-action="details" asp-controller="doctor" asp-route-id="@doctor.Id" class="text-decoration-none link-base">
                                    <h2 class="h4 position-relativ text-center">
                                        @doctor.Fullname
                                    </h2>
                                </a>
                                <p class="all-doctors_card_position text-base text-center">
                                    @doctor.Positon
                                </p>
                            </div>
                            <div class="all-doctors_card_desc">
                                <p class="text-center">
                                    @doctor.Desc
                                </p>
                                <p class="text-center text-base fw-bold">$2 / 10 min</p>
                            </div>
                            <div class="all-doctors_card_links mt-4">
                                <div class="set_meeting rounded-pill w-100 m-0">
                                    <i class="fa-solid fa-video me-2"></i>
                                    Online Appointment
                                </div>
                            </div>
                        </div>
                    </div>
                }


           
                
                <!-- END -->
            </div>
        </div>
    </section>
</main>

@section Scripts{

    <!-- ========================= CDNs =============================== -->
    <!-- Slick Slide -->
    <script type="text/javascript"
        src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- ========================= Custom =============================== -->
    <!-- Slick Settings -->
    <script type="module" src="~/Assets/Js/slider.js"></script>
}